[submodule "Vendor/SSToolkit"]
	path = Vendor/SSToolkit
	url = https://github.com/samsoffes/sstoolkit.git
[submodule "Vendor/KKGridView"]
	path = Vendor/KKGridView
	url = https://github.com/kolinkrewinkel/KKGridView.git
